.custom-shape-divider-bottom-1627944772 {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1627944772 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 105px;
}

.custom-shape-divider-bottom-1627944772 .shape-fill {
  fill: #ffffff;
}
