.custom-shape-divider-bottom-1628384777 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.img-custom {
  height: 80px;
  width: 80px;
}

.content-custom {
  height: 90px;
  width: 90px;
}

.custom-shape-divider-bottom-1628384777 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1628384777 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1628384777 .shape-fill-gray {
  fill: #eaeef3;
}

.custom-shape-divider-bottom-1630601091 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630601091 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
}

.custom-shape-divider-bottom-1630601091 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1630601091 .shape-fill-gray {
  fill: #eaeef3;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1630601091 svg {
    width: calc(100% + 1.3px);
    height: 16px;
  }
}

.shape-fill-reverse {
  fill: transparent;
}

.text-custom {
  color: black;
}

.text-custom:hover {
  color: #59b4bb;
}

.text-custom-white {
  color: white;
}

.text-custom-white:hover {
  color: #59b4bb;
}

.active {
  color: #59b4bb;
}

.text-custom:hover {
  color: #59b4bb;
}

.bg-custom-color {
  background-color: #eaeef3;
}

.bg-custom {
  background-color: #60dbe4;
}

.bg-custom:hover {
  background-color: #59b4bb;
}

.bg-custom-suscribete {
  background-color: #009aa6;
}

.bg-custom-suscribete:hover {
  background-color: #018791;
}

.img-background {
  max-width: 100%;
  height: auto;
}

.font-custom-color {
  color: #009aa6;
}

.icon-custom-color {
  background-color: #009aa6;
}

.custom-color-1 {
  background-color: #009aa6;
}

.custom-color-2 {
  background-color: #fed182;
}

.custom-color-3 {
  background-color: #e6cf10;
}

.custom-color-4 {
  background: linear-gradient(45deg, #009aa6, #9cbbff);
}

.valores-color-1 {
  background-color: #009aa6;
}
